.imgMovie{
    width: 350px;
    height: 400px;
    float: left;
    padding-right: 40px;
}

p {
    font-size: 35px;
}

.movie {
    text-decoration: none;
    color: black;
    background-color: lightgray;
    padding: 5px;
    margin-left: 15%;
}

